TourismPackagePlannerApp/web/WEB-INF/wsdl/ws.docencia.ces.siani.es/a18/TrabajoIS_SOAP_FlightCalculator/SOAPFlightCalculator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap/">

<xs:element name="calculateFlightPrice" type="tns:calculateFlightPrice"/>

<xs:element name="calculateFlightPriceResponse" type="tns:calculateFlightPriceResponse"/>

<xs:complexType name="calculateFlightPrice">
<xs:sequence>
<xs:element name="childrenNumber" type="xs:int"/>
<xs:element name="adultNumber" type="xs:int"/>
<xs:element name="flightPrice" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateFlightPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>